html {
  @apply scroll-smooth;
}

body {
  @apply w-screen h-screen;
  #root {
    @apply w-full h-full overflow-hidden;
  }
}

.mobile-fixed {
  @apply fixed top-0  overflow-hidden z-0;
}

.svg-icon {
  @apply w-[1em] h-[1em] align-[-0.15em] fill-current overflow-hidden outline-none;
}

@keyframes opacity {
  30% {
    opacity: 1;
  }
}

@keyframes to-right-hide {
  0% {
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(51%);
  }
}
